body {
    font-family: 'Times New Roman', Times, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 0 5%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50vw;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
                "header header"
                "image content"
                "footer footer";
    gap: 10px 10px;
}

.header {
    grid-area: header;
    color: #ff6a00;
    border: 1px solid #797777;
    padding: 4px 10px;
    margin: 3% 5%;
    border-radius: 50px;
    font-size: 18px;
    background: linear-gradient(90deg, #1a1a1a, #2e2e2e);
}

.image {
    grid-area: image;
    width : 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
    filter: brightness(1.3);
}
.content {
    grid-area: content;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

.start-btn {
    background-color: #26b003;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600;
    box-shadow: 4px 4px 8px #115201;
    transition: transform 0.3s ease, filter 0.3s ease;

}
.start-btn:hover { 
    filter: brightness(0.8);
    transform: translateY(-5px) scale(1.1);
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 8px;
    margin: 20px 0;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    background-color: #05042c;
}
.footer a {
    color: white;
    text-decoration: none;
}


@media (max-width: 768px) {

    h1 {
        font-size: 1.6em;
        font-weight: bold; 
        margin: 0.75em 0;     
    }

    .container {
        width: 90vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "image"
            "content"
            "footer";
        padding: 20px;
    }

    .image {
        width: 60%;
        margin: 0 auto;
        margin-top: 15px;
        display: block; 
        max-height: 250px;
    }

    .content {
        font-size: 18px;
        padding: 10px;
    }

    .header {
        margin: 0;
        font-size: 16px;
    }

    .start-btn {
        font-size: 16px;
        padding: 8px 16px;
    }

        .footer {
        font-size: 10px;
        padding: 4px;
    }
}
